* {
  padding: 0;
  margin: 0;
}

:root {
  --cor-violet: hsl(263, 55%, 52%);
  --cor-gray: hsl(217, 19%, 35%);
  --cor-white: hsl(0, 0%, 100%);
  --cor-quote: hsl(0, 0%, 81%);
  --cor-border: hsl(212, 42%, 91%);
}

body {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
background: linear-gradient(var(--cor-white), var(--cor-border));
  color: var(--cor-white);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1440px) {
  .container {
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    grid-template-areas:
      "post-1 post-1 post-2 post-5"
      "post-3 post-4 post-4 post-5";
  }

  .post {
    border-radius: 7px;
    padding: 20px;
  }

  .comentario-1 {
    width: 500px;
    grid-area: post-1;
    background: var(--cor-violet) url("images/bg-pattern-quotation.svg") 350px 0/100px 100px no-repeat;
  }

  .comentario-2 {
    grid-area: post-3;
  }

  .comentario-3 {
    width: 200px;
    grid-area: post-2;
    background: var(--cor-gray);
  }

  .comentario-4 {
    width: 500px;
    background: #18202d;
    grid-area: post-4;
  }

  .comentario-5 {
    grid-area: post-5;
  }

  .comentario-5,
  .comentario-2 {
    width: 200px;
    color: black;
    background: var(--cor-white);
    box-shadow: 10px 10px 40px var(--cor-quote);
  }

  .profile {
    display: flex;
    margin-bottom: 15px;
  }

  img {
    border-radius: 50%;
    border: #e5a5ffbb solid 2px;
    margin-right: 20px;
    width: 30px;
  }

  .parag {
    margin-top: 20px;
    color: var(--cor-quote);
  }

  .graduate {
    color: var(--cor-quote);
  }

  .bg-d,
  .p-section-2,
  .p-section-5 {
    color: hsl(217, 9%, 56%);
  }
}

@media (max-width: 375px) {
  body {
    height: 100%;
    margin: 35px 0;
    max-width: 375px;
  }

  .container {
    display: inline;
  }

  .post {
    width: 270px;
    margin: 25px 0;
    padding: 30px;
  }
}